*{
    padding: 0%;
    margin: 0%;
    font-family: 'Inter';
    font-style: normal;
    background-color: #F3F5FC;
}

textarea{
    border: none;
    font-weight: 400;
    color: #0A3871;
    font-size: x-large;
    background-color: #FFFFFF;
    padding: 1rem;
}

.header__logo{
    margin-top: 2rem;
    margin-left: 2rem;
}

.insert__Text{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 150px;
    top: 100px;
}

.show__Text{
    position: absolute;
    width: 400px;
    height: 700px;
    left: 900px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.show__Text{
    position: absolute;
    width: 336px;
    height: 600px;
    top: 50px;
}

.show__Logo{
    position:absolute;
    top: 100px;
}

.text__buttons {    
    position: absolute;
    width: 680px;
    height: 67px;
    left: 135px;
    top: 600px;
}

.text__buttons button{
    padding: 1rem;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    margin-left: 10px; 
}

.encrypt__Button{
    background-color: #0A3871;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.show__Messages{
    position: absolute;
    top: 400px;
}

.show__Messages span{
    font-weight: 700;
    font-size: 24px;
    line-height: 200%;
    text-align: center;
    color: #343A40;
}

.desencryt__Button{
    background-color: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center
}